<header>
    <a class="logo" href="/">project</a>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/register">REGISTER</a></li>
            <li><a href="/login">LOGIN</a></li>
        </ul>
    </nav>
</header>